@import "../variables";
@import "compass";
///////////*NAVIGATION BAR*////////////
header {
  padding: 40px 0 32px;;
}

.nav_bar {
  li {
    &:last-child {
      margin-right: 0;
    }
    display: inline-block;
    float: left;
    margin-right: 3px;
  }
  padding: 7px 0px;
  float: right;
}
///////////*END OF NAVIGATION BAR*////////////