/*BACKGROUNDS*/

$backgroundChrome: url(../img/backgrounds/chrome_point.png);
$backgroundLight: url(../img/backgrounds/light_backgound.png);
$backgroundDark: url(../img/backgrounds/dark_background.png);

/*BACKGROUNDS*/

/*BORDERS*/
$border1: 1px solid #E4E4E4;
$border2: 1px solid #c4c4c4;
$border3: 1px solid #ececec;
/*BORDERS*/

/*TEXT COLORS*/
$text1: #777;
$text2: #313131;
/*TEXT COLORS*/

/*BASE COLORS*/
$fullBlack: #000;
$fullWhite: #fff;


$base1: #33b3cd;

$slider_bullets: #999999;
/*BASE COLORS*/

/*FONTS*/
$font1: "BitterBold", sans-serif;
/*FONTS*/