/*DEPENDENCIES*/
/*BACKGROUNDS*/
/*BACKGROUNDS*/
/*BORDERS*/
/*BORDERS*/
/*TEXT COLORS*/
/*TEXT COLORS*/
/*BASE COLORS*/
/*BASE COLORS*/
/*FONTS*/
/*FONTS*/
/*DEPENDENCIES*/
/* line 6, ../scss/buttons.scss */
.nav_btn {
  color: #000;
  display: inline-block;
  padding: 8px 15px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 7, ../scss/buttons.scss */
.nav_btn.active {
  color: #fff;
  background-color: #33b3cd;
}
/* line 11, ../scss/buttons.scss */
.nav_btn:hover, .nav_btn:focus, .nav_btn:active {
  color: #fff;
  background-color: #33b3cd;
  text-decoration: none;
}

/* line 23, ../scss/buttons.scss */
.base_btn {
  color: #fff;
  background-color: #33b3cd;
  display: inline-block;
  padding: 8px 15px;
  font-size: 13px;
  text-transform: uppercase;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  transition: background-color 0.15s ease;
}
/* line 24, ../scss/buttons.scss */
.base_btn.sm {
  font-size: 12px;
  padding: 7px 12px;
}
/* line 28, ../scss/buttons.scss */
.base_btn:hover, .base_btn:focus, .base_btn:active {
  color: #fff;
  background-color: #2b9ab1;
  text-decoration: none;
}
